<!DOCTYPE html>
<html>
<head>
  <title>EarthVectors</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/w3.css"/>
  <link rel="stylesheet" href="stylesheets/colors.css"/>
  <link rel="stylesheet" href="stylesheets/ev.css"/>
  <link rel="stylesheet" href="stylesheets/nav.css"/>
  <link rel="stylesheet" href="stylesheets/container.css"/>
  <link rel="stylesheet" href="stylesheets/section.css"/>
  <link rel="stylesheet" href="stylesheets/slogan.css"/>
  <link rel="stylesheet" href="stylesheets/core_practices.css"/>
  <link rel="stylesheet" href="stylesheets/callout.css"/>
  <link rel="stylesheet" href="stylesheets/values.css"/>
  <link rel="stylesheet" href="stylesheets/form.css"/>
  <link rel="stylesheet" href="stylesheets/footer.css"/>
  <link href="https://fonts.googleapis.com/css?family=Muli|Roboto" rel="stylesheet">
</head>
<body>

<div class="screenwidth">
  <div class="w3-container nav">
    <div class="w3-row">
      <div class="w3-col l4">
        <a href="#home">
          <img class="nav__logo" src="images/ev-logo-color.svg" alt="EarthVectors"/>
        </a>
      </div>
      <div class="w3-col l1">
        &nbsp;
      </div>
      <div class="w3-col l1">
        <div class="nav__menu">
          <a href="#home" class="nav__item">About</a>
        </div>
      </div>
      <div class="w3-col l1">
        <div class="nav__menu">
          <a href="#values" class="nav__item">Values</a>
        </div>
      </div>
      <div class="w3-col l5">
        <div class="nav__menu">
          <a href="#contact" class="nav__item">Connect</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <img class="w3-hide-small slogan__image" src="images/ev-lines.svg"/>
    <div class="w3-container section">
      <div class="w3-row">
        <div class="w3-col m7 l7">
          <div class="slogan w3-hide-small">
            <span class="slogan__line1">Engage</span>
            <br/>
            <span class="slogan__line2">Explore</span>
            <br/>
            <span class="slogan__line3">Evolve</span>
          </div>
          <div class="slogan w3-hide-medium w3-hide-large">
            <span class="slogan__line1">Engage</span>
            <br/>
            <span class="slogan__line1">Explore</span>
            <br/>
            <span class="slogan__line1">Evolve</span>
          </div>

          <h2 class="section__title">Who We Are</h2>
          <p>
            The EarthVectors core team brings nearly 100 years of software engineering experience and 30
            years of experience in the healthcare domain.
          </p>
          <p>
            Our former clients and employers span a wide range of business sizes, stages, and domains.
            We have helped for-profit and not-for-profit organizations create immense value.
          </p>
          <p>
            We are experts in full stack engineering, software development practices, and business analysis.
            We have expertise in product management, project management, IT operations, DevOps, and data science. We
            pride ourselves on craftsmanship tempered with pragmatism.
          </p>
          <p>
            Our mission is to create happiness and prosperity through common sense engineering and business
            processes.
          </p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m8 l8 core-practices">
          <div class="core-practices__item">OUR PRACTICES</div>
          <div class="core-practices__item">Test Driven Development</div>
          <div class="core-practices__item">Pair Programming</div>
          <div class="core-practices__item">Short Feedback Loops</div>
          <div class="core-practices__item">Iterative Processes</div>
          <div class="core-practices__item">Experimentation</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <img class="w3-hide-small callout__image" src="images/ev-group.svg"/>
    <div class="w3-container callout" id="values">
      <div class="w3-row">
        <div class="w3-col m8 l8">
          <h2 class="callout__title">Our Core Values</h2>
          <div>
            <p class="values__title">Agility</p>
            <p class="values__text">
              We adhere strongly, but not dogmatically, to the tenants of the Agile Manifesto, Twelve
              Principles of Agile Software, and Five Values of Extreme Programming. We adapt our process to minimize
              ceremony and maximize communication, efficiency and happiness.
            </p>
          </div>
          <div>
            <p class="values__title">Pragmatic Idealism</p>
            <p class="values__text">
              We believe in continually evolving towards a set of ideals and dream
              of all the possibilities they can bring. Ideals define our long term strategies.
              Pragmatism defines our day-to-day tactics. Our ideals
              and business needs are constantly evolving and we adjust accordingly.
            </p>
          </div>
          <div>
            <p class="values__title">Problem Solving</p>
            <p class="values__text">
              We make practical (often boring) technology choices. We don’t build science projects just
              because we are smart enough to build them. New technologies should be chosen based on the merits of
              solving
              the problem at hand.
            </p>
          </div>
          <div>
            <p class="values__title">Communication</p>
            <p class="values__text">
              We believe that many problems can be addressed through better communication. We do not hoard
              information. We share our process and ideals freely and openly. We strive to be fearlessly
              transparent with ourselves, our team members, and our clients.
            </p>
          </div>
          <div>
            <p class="values__title">Humility</p>
            <p class="values__text">
              We check our egos at the door. A codebase is owned by all team members, from the best features,
              and most elegant implementations, to the worst bugs. We make mistakes sometimes, because we’re
              human, but rather than dwell on them we choose to fix and then learn from them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <img class="w3-hide-small callout__image" src="images/ev-group.svg"/>
    <div class="w3-container callout" id="values">
      <div class="w3-row">
        <div class="w3-col m8 l8">
          <h2 class="callout__title">Our Blog</h2>
          <div>
            <% blog_posts.each_with_index do |post, index| %>
              <div><%= post[:creator] %></div>
              <div><%= post[:date] %></div>
              <div><%= post[:link] %></div>
              <div><%= post[:content] %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <img class="w3-hide-small form__image" src="images/ev-connect.svg"/>
    <div class="w3-container section" id="contact">
      <div class="w3-row">
        <div class="w3-col m8 l8">
          <h2 class="section__title">Connect</h2>
          <%= form_tag do %>
            <div class="form-element">
              <label class="w3-text-health-blue w3-padding-16" for="nameForm">Name</label>
              <input class="w3-input w3-section w3-border-0 w3-dark w3-text-white" type="text"
                     placeholder="Name" required name="name" id="nameForm">
            </div>
            <div class="form-element">
              <label class="w3-text-health-blue w3-margin-top" for="emailForm">Email</label>
              <input class="w3-input w3-section w3-border-0 w3-dark" type="email" placeholder="Email" required
                     name="email" id="emailForm">
            </div>
            <div class="form-element">
              <label class="w3-text-health-blue" for="messageForm">Message</label>
              <textarea class="w3-input w3-section w3-border-0 w3-dark" rows="10" type="text"
                        placeholder="Personal message..." required
                        name="message" id="messageForm"></textarea>
            </div>
            <%= invisible_recaptcha_tags text: "SEND MESSAGE", class: "w3-button w3-code-green w3-text-dark-two" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container footer">
    <div class="w3-row">
      <div class="w3-col w3-center">
        <img class="footer__image" src="images/ev-logo-stacked.svg"/>
        <p>
          780 Magnolia Street
          <br/>
          Denver CO, 80220
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
